<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluación</title>
</head>
<body>
    <header>
        <h1>Sistema de evaluación escolar</h1>
        <ul>
            <li><a href="~/Maestro/Login">Iniciar sesión</a></li>
            <li><a href="~/Maestro/RegistrarAlumno">Registrar alumno</a></li>
            <li><a href="~/Maestro/VerAlumnos">Ver a los alumnos</a></li>
            <li><a href="~/Evaluacion/ActualizarCalificacion">Actualizar calificaciones</a></li>
            <li><a href="~/Acceso/Logout">Cerrar sesión</a></li>
        </ul>
    </header>
    <main>
        @RenderBody()
    </main>


</body>
</html>
