@model WebUIMaestra.Models.Usuario
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form>
    <input type="text" asp-for="Nombre" placeholder="Nombre" />
    <input type="text" asp-for="Clave" placeholder="Clave" />
    <input type="submit" />
</form>

